# Gradle
.gradle/
build/
**/build/

# Android Studio / IntelliJ
.idea/
*.iml

# Lokalna konfiguracja Android SDK
local.properties

# Pliki generowane
captures/
.externalNativeBuild/
.cxx/

# Logi
*.log

# Wygenerowane APK/AAB
*.apk
*.aab

# Pliki systemowe
.DS_Store
Thumbs.db

# Klucze do podpisywania aplikacji
*.jks
*.keystore